body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 500px;
  }
  
  h1 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 12%;
  }
  
  form {
    margin-top: 20px;
  }
  
  .custom-file-input {
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  label {
    display: block;
    padding: 15px;
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
  }
  
  label:hover {
    background-color: #2980b9;
  }
  
  button {
    padding: 15px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #27ae60;
    transform: scale(1.02);
  }
  
  p {
    margin-top: 20px;
    color: #7f8c8d;
    font-size: 16px;
  }
  
  a {
    display: block;
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 16px;
  }
  
  a:hover {
    color: #207ab4;
  }
  